* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 0 10px;
}

@media screen and (max-width:1225px) {
    .container {
        width: 100%;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 4;
}

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header__logo {
    flex: 0 0 190px;
    z-index: 5;
}

.header__logo img {
    width: 100%;
}

.header__list {
    display: flex;
}

.header__list li{
    list-style-type: none;
    position: relative;
    z-index: 4;
}

.header__link {
    color: #e9357c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 10px;
    border-bottom: 3px solid white;
}

.active__menu {
    border-bottom: 3px solid #e9357c;
}

@media screen and (max-width: 1216px) {
    .header__link {
        font-size: 15px;
    }

    .header__logo {
        flex: 0 0 150px;
    }
}

.content {
    padding: 90px 0 0 0 ;
}

.header__burger {
    display: none;
}

@media screen and (max-width: 830px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        height: 60px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 4;
    }

    .header__burger.active {
        margin-right: 20px;
    }

    .header__burger span {
        position: absolute;
        background-color: #e9357c;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #e9357c;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #e9357c;
        padding: 100px 10px 20px 20px;
        transition: all 0.3s ease;
    }

    .header__link {
        border-bottom: none;
    }

    .active__menu {
        border-bottom: none;
    }

    .header__list {
        display: block;
    }

    .header__list li {
        margin-bottom: 20px;
    }

    .active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .active span {
        transform: scale(0);
    }

    .header__menu.active {
        top: 0;
    }

    .header__menu.active .header__link {
        color: white;
    }

    .header__menu.active .header__link:hover {
        color: black;
    }

    .header__menu.active .active__menu {
        color: black;
    }

    .content {
        padding: 70px 0 0 0;
    }
}    
